---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* Import the theme's main styles */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Import custom overrides */
@import "custom";

